<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather API</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/8b134085b2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="image">
        <img src="../static/images/weather.JPG" alt="weather" height="796px" width="100%">
    </div>
    <section class="section1">
        <div class="text">
            <h1>YOLO Weathers</h1>
        </div>
        <nav>
            <a href="#" class="home">Home</a>
            <a href="#">Forecast</a>
            <a href="#">Safety</a>
            <a href="#">About</a>
            <a href="#">Help</a>
        </nav>
        <div class="follow">
            <a href="#" class="fol">Contact Us</a>
        </div>
        <div class="para">
            <h1 class="para1">Explore the World's Best <br> <span class="shadow"><b>Weather Api</b></span><br> for Free</h1>
        </div>
        <div class="button">
            <a href="{{url_for('main')}}" class="btn">Get Weather <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
        
    </section>

</body>
</html>